<footer class="page-footer">
    <hr>
    <div class="row textFooter">
        <div class="col l4 offset-l1 s12">
            <div class="row">
                <h5>Esperluette</h5>
                <p> Une gamme de produits uniques, valorisés à base de récup, made in France. Les objets sont fabriqués
                    à la main à partir de matériaux principalement récupérés issus de glanage, de troc, de recyclerie,
                    de brocante, de vide-maison, de vide-grenier etc.
                </p>
            </div>

        </div>
        <div class="col l2 offset-l1 s12 ">
            <h5>Accès rapide</h5>
            <ul>
                <li> <a href="{{ path('home') }}">Accueil</a> </li>
                <li> <a href="{{ path('blog') }}">Blog</a> </li>
                <li> <a href="{{ path('product_index') }}">Boutique</a> </li>
                <li> <a href="{{ path('home') }}">Contact</a> </li>
            </ul>
        </div>
        <div class="col l3 s12 ">
            <h5>Ma boutique</h5>
            <ul>
                <li> <i class="fas fa-mobile-alt"></i> 06 62 50 85 67 </li>
                <li> <i class="far fa-envelope"></i> contact@esperluette-deco.fr </li>
                <li> <i class="fas fa-map-marker-alt"></i> Basée à Jassans-Riottier (01) </li>
            </ul>
        </div>
    </div>

    <div class="row reseauFooter">
        <div class="col s8 m8 offset-m1">
            <a href="https://www.facebook.com/Esperluette-100744648003384/" class="reseau">
                <i class="fab fa-facebook-f fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/esperluettevalorisation/" class="reseau">
                <i class="fab fa-instagram fa-2x"></i> </a>
            <a href="https://www.pinterest.fr/nallet0387/" class="reseau">
                <i class="fab fa-pinterest-p fa-2x"></i>
            </a>
        </div>
        <div class="col s1 m1 ">
            <a href="{{ path('admin_login') }} " class="right"> Admin
            </a>
        </div>
        <div class="col s1 m1 offset-m1">
            <a href="#navConnect"> <i class="fas fa-caret-square-up fa-2x"></i> </a>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container center-align">
            © 2019 Esperluette |
            <a href="{{ path('mention_legale') }}"> Mentions Légales </a> |
            <a href="{{ path('cgv') }}"> CGV </a> |
            <a href=""> <em> Contactez moi </em> </a>
        </div>
    </div>
</footer>