{% block form_row %}
<div class="input-field col s12">
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    {{ form_help(form) }}
</div>
{% endblock %}

{% block text_widget %}
<input type="text" name="{{full_name}}" id="{{id}}" class="validate">
{% endblock %}

{% block url_widget %}
<input type="text" name="{{full_name}}" id="{{id}}" class="validate">
{% endblock %}

{% block textarea_widget %}
<input type="text" name="{{full_name}}" id="{{id}}" class="validate">
{% endblock %}