<div class="container center-align">
    <img class="logo" src="{{ asset('/images/logo.png') }}" alt="#">
    <h1> Esperluette </h1>
    <h2> Revalorisation d'objets anciens </h2>
    <div class="divider"></div>
</div>

<div class="container">
    <div class="row">
        <nav class="navigation">
            <div class="nav-wrapper">
                <ul class="left">
                    <li><a href="{{ path('home') }}"><i class="fas fa-home fa-sm"></i></a></li>
                    <li><a href="{{ path('shop') }}">Blog</a></li>
                    <li><a href="{{ path('shop') }}">Boutique</a></li>
                    <li><a href="{{ path('shop') }}">Contact</a></li>
                </ul>
                <ul class="right hide-on-small-only">
                    <li> <a href=""> <i class="fab fa-facebook-f fa-sm"></i> </a> </li>
                    <li> <a href="https://www.instagram.com/esperluettevalorisation/"> <i
                                class="fab fa-instagram fa-sm"></i> </a> </li>
                    <li> <a href="https://www.pinterest.fr/nallet0387/"> <i class="fab fa-pinterest-p fa-sm"></i>
                        </a>
                    </li>
                    <!-- <li> <a href=""> Recherche </a> </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>