{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="center-align"> Inscription sur le site </h1>

    <div class="row">
        {{ form_start(form) }}
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(form.username, {'label': "Nom d'utilisateur", 'attr':{'placeholder': "Votre pseudo"}}) }}
            </div>
            <div class="input-field col s6">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form_row(form.password) }}
            </div>
            <div class="input-field col s6">
                {{ form_row(form.confirm_password) }}
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn waves-effect waves-light"> Inscription </button>
        </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}