{% extends 'achat/base.html.twig' %}

{% block title %} Inscription {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/security.css')}}" type="text/css">
{% endblock %}

{% form_theme form 'includes/formTheme.html.twig' %}

{% block body %}
<div class="container">
   
    <h1> 
        Inscription 
        <a class="aBlack right tooltipped" data-position="bottom" data-tooltip="Revenir à l'accueil"
            href="{{ path('home') }}">
            <i class="fas fa-home fa-sm"> </i>
        </a>
    </h1>
    <hr>
    <section id="register">
        <div class="container">
            <div class="row">
                <div class="card hoverable">
                    {{ form_start(form) }}
                    {{form_row(form)}}
                    <div class="row center-align">
                        <button type="submit" class="btn waves-effect waves-light"> Inscription </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
    </section>
</div>



{% endblock %}