{% extends 'base/adminBase.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/admin.css')}}" type="text/css">
{% endblock %}

{% block title %} Edition du produit {{product.id}} {% endblock %}

{% form_theme productForm 'admin/includes/formCollection.html.twig' %}

{% block body %}
<section id="editProduct">
    <div class="center-align">
        <h1> Modifier le produit : {{product.title}}</h1>
    </div>
    {{ form_start(productForm) }}
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card ">
                <div class="card-header teal lighten-2">
                    <h4 class="card-title"> Corriger l'annonce </h4>
                </div>
                <div class="card-body">
                    {{ form_widget(productForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="center-align">
        <button type="submit" class="btn waves-effect waves-light btnSave"> Enregister </button>
        {{ form_end(productForm) }}
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('/js/shop.js') }}"></script>
{% endblock %}