{% extends 'admin/base.html.twig' %}

{% block title %} Admnistration des produits {% endblock %}

{% block body %}
<section id="productIndex">
    <div class="row">
        <div class="col s10 offset-s1 title">
            <h1>
                Gestion des produits
                <a href="{{path('admin_products_new')}}" class="btn waves-effect waves-light btnNew">
                    <i class="fas fa-plus fa-xs"></i> ajouter
                </a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="tableau">

                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Introduction</th>
                            <th>Content</th>
                            <th>Images</th>
                            <th>Prix</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in pagination.data %}
                        <tr>
                            <td>{{product.id}}</td>
                            <td>{{product.title | truncate(20, true)}}</td>
                            <td>{{product.introduction | truncate(50, true)}}</td>
                            <td>{{product.content | truncate(150, true)}}</td>
                            <td>
                            <img src="{{product.coverImage}}" class="responsive-img imgTd"
                                alt="image de couverture du produit {{product.title}}">
                            </td>
                            <td>{{product.price}}</td>
                            <td class="actions">
                                <a href="{{path('admin_products_edit', {'id' : product.id} )}}"
                                    class="btn btnActions blue darken-3 hoverable"> <i class="fas fa-edit">
                                    </i></a>
                                <a href="{{path('admin_products_delete', {'id' : product.id} )}}"
                                    class="btn btnActions red darken-3 hoverable"> <i class="fas fa-trash"> </i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ pagination.display() }}
            </div>
        </div>
    </div>
</section>
{% endblock %}