{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/blog.css') }}" type="text/css">
{% endblock %}

{% block title %} Créer un article {% endblock %}

{% block body %}

<div class="container">
    <h1 class="center-align">Création d'un article</h1>

    {{ form_start(formArticle) }}

    <div class="input-field col s12">
        {{ form_row(formArticle.title, {'attr' : {'placeholder': "Titre de l'article"} }) }}
    </div>
    <div class="input-field col s12">
        {{ form_row(formArticle.categoryBlog) }}
    </div>
    <div class="input-field col s12">
        {{ form_row(formArticle.content, {'attr' : {'placeholder': "Contenu de l'article", 'class': "materialize-textarea"} }) }}
    </div>
    <div class="input-field col s12">
        {{ form_row(formArticle.image, {'attr' : {'placeholder': "Image de l'article"} }) }}
    </div>
    <div class="input-field col s12">
        <button type="submit" class="btn waves-effect waves-light">
            {% if editMode %}
            Enregistrer
            {% else %}
            Ajouter l'article
            {% endif %}
        </button>
    </div>
    {{ form_end(formArticle) }}

</div>

{% endblock %}