{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/blog.css') }}" type="text/css">
{% endblock %}

{% block title %} Blog {% endblock %}

{% block body %}

{% include "includes/header.html.twig" %}

<div class="separateArticle"></div>

<div class="container_articles">
    <div class="container">
        <section class="articles">
            <!-- <div class="row">
                <div class="col s12">
                    <div class="card grey lighten-5">
                        <div class="card-content">
                            <h3 class="center-align"> Bienvenue sur mon blog </h3>
                        </div>
                    </div>
                </div>
            </div> -->
            <h2 class="center-align"> Les articles publiés </h2>
            <div class="row">
                <div class="col s8">
                    {% for article in articles %}
                    <article class="card hoverable">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <h3>{{ article.title }}</h3>
                                    <p class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à
                                        {{ article.createdAt | date('H:i') }} dans la catégorie
                                        {{ article.categoryBlog.title }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <div class="card-image">
                                        <img src="{{ article.image }}" alt="#">
                                    </div>
                                </div>
                                <div class="col s6">
                                    <p class="p_content">{{ article.content | raw | truncate(150, true) }}</p>
                                    <p class="read_more">
                                        <a href="{{ path("blog_show", {'id' : article.id}) }}">Lire la
                                            suite</a></p>
                                </div>
                            </div>
                    </article>
                    {% endfor %}
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-content">
                            
                        </div>
                    </div>
                </div>
            </div>



        </section>
    </div>
    <div class="separateArticle"></div>

</div>{% endblock %}