
{% block _product_imagesShop_widget %}
<p> Ajoutez vos photos !</p>

{{ form_widget(form) }}
<input type="hidden" id="widgets-counter" value="0">
<button type="button" id="product-image" class="btn waves-effect waves-light"> Ajoutez une image </button>
{% endblock %}

{% block _product_imagesShop_entry_row %}
{{ form_widget(form) }}
{% endblock %}

{% block _product_imagesShop_entry_widget %}
<div class="input-field" id="block_{{id}}">
    <div class="row">
        <div class="col s11">
            <div class="row">
                <div class="col s3">
                    {% if value %}
                        <img src="{{value.url}}" class="responsive-img" alt="#">
                    {% endif %}
                </div>
                <div class="col s4">
                    {{ form_widget(form.url) }}
                    {{ form_errors(form.url) }}
                </div>
                <div class="col s4">
                    {{ form_widget(form.caption) }}
                    {{ form_errors(form.url) }}
                </div>
            </div>
        </div>
        <div class="col s1">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn waves-effect waves-light hoverable">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>

</div>
{% endblock %}