{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/shop.css')}}" type="text/css">
{% endblock %}

{% block title %} Boutique {% endblock %}

{% block body %}

<div class="row">
    {% include "includes/sidenav.html.twig" %}

    <div class="col s8 list">
        <div class="row">
            <div class="col s4">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="/article"> <img src="{{ asset('/images/1.jpg') }}" alt="#"> </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><a class="titleCard" href="/article">Nom
                                        article</a> <i class="material-icons right">
                                        <a href="/"> shopping_basket</a></i></span>
                                <p>Prix</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col s4">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="/article"> <img src="{{ asset('/images/2.jpg') }}" alt="#"> </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><a class="titleCard"
                                        href="/article">Nom
                                        article</a> <i class="material-icons right">
                                        <a href="/"> shopping_basket</a></i></span>
                                <p>Prix</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col s4">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="/article"> <img src="{{ asset('/images/3.jpg') }}" alt="#"> </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><a class="titleCard"
                                        href="/article">Nom
                                        article</a> <i class="material-icons right">
                                        <a href="/"> shopping_basket</a></i></span>
                                <p>Prix</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col s4">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="/article"> <img src="{{ asset('/images/4.jpg') }}" alt="#"> </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><a class="titleCard"
                                        href="/article">Nom
                                        article</a> <i class="material-icons right">
                                        <a href="/"> shopping_basket</a></i></span>
                                <p>Prix</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col s4">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="/article"> <img src="{{ asset('/images/5.jpg') }}" alt="#"> </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><a class="titleCard"
                                        href="/article">Nom
                                        article</a> <i class="material-icons right">
                                        <a href="/"> shopping_basket</a></i></span>
                                <p>Prix</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col s4">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="/article"> <img src="{{ asset('/images/logo.png') }}" alt="#"> </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><a class="titleCard"
                                        href="/article">Nom
                                        article</a> <i class="material-icons right">
                                        <a href="/"> shopping_basket</a></i></span>
                                <p>Prix</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </div> <!-- Fin col s8-->
</div> <!-- Fin row global-->

{% endblock %}