{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/shop.css')}}" type="text/css">
{% endblock %}

{% block title %} Boutique {% endblock %}

{% block body %}

<div class="row">
    {% include "includes/sidenav.html.twig" %}

    <div class="col s8 list">
        {% for product in products %}
        {% set url = path('product_show', {'slug' : product.slug}) %}
        <div class="col s4">
            <div class="col s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{{ url }}">
                            <img src="{{ product.coverImage }}" alt="#">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <a class="titleCard" href="{{ url }}">
                                {{ product.title | truncate(25) }}
                            </a>
                        </span>
                        <p>
                            {{product.price}} €
                            <i class="material-icons right">
                                <a href="{{ url }}">
                                    shopping_basket
                                </a>
                            </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> <!-- Fin col s8-->
</div> <!-- Fin row global-->

{% endblock %}