{% extends 'base/sidenavBase.html.twig' %}

{% block title %} {{ product.title }} {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/shop.css')}}" type="text/css">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col s12 l6 ">
        <div class="col l1 mobileNone">
            <i class="fas fa-chevron-circle-left left"></i>
        </div>
        <div class="col s12 l10">
            <div class="carousel carousel-slider">
                <a class="carousel-item"><img src="{{ product.coverImage }}"></a>
                {% for image in product.imagesShop %}
                <a class="carousel-item"><img src="{{ image.url }}"></a>
                {% endfor %}
            </div>
        </div>
        <div class="col l1 mobileNone">
            <i class="fas fa-chevron-circle-right right"></i>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="descProduct">
            <h1> {{ product.title }}</h1>
            <p> {{ product.price }} € </p>
            <hr>
            <a href="{{ path('cart_add', {'id' : product.id }) }}" class="btn"> Ajouter au panier </a>
            <hr>
            <p> {{ product.content | raw }} </p>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('/js/shop.js') }}"></script>
{% endblock %}