{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/shop.css')}}" type="text/css">
{% endblock %}

{% block title %} Article {% endblock %}

{% block body %}
<div class="row">
    <div class="row">
        <p class="comeBack right-align">
            Revenir à la boutique
            <a href="{{path('product_index')}}">
                <i class="far fa-times-circle fa-lg"></i>
            </a>
        </p>
    </div>
    {% include "includes/sidenav.html.twig" %}
    <div class="row">
        <div class="col s6 imgCont">
            <div class="carousel carousel-slider">
                <a class="carousel-item"><img src="{{ product.coverImage }}"></a>
                {% for image in product.imagesShop %}
                <a class="carousel-item"><img src="{{ image.url }}"></a>
                {% endfor %}
            </div>
        </div>
        <div class="col s3">
            <h1> {{ product.title }}</h1>
            <p> {{ product.price }} € </p>
            <hr>
            <button> Ajouter au panier </button>
            <hr>
            <p> {{ product.content | raw }} </p>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('/js/shop.js') }}"></script>
{% endblock %}