<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <!--***** META *****-->
    <meta charset="UTF-8">
    <meta name="description" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--***** LINK *****-->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ asset('/images/favicon.ico') }}" />
    <!-- Style sheet Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Import Materialize
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link href="{{asset('/materialize/css/materialize.css')}}" <!-- Style sheet Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <!-- Style sheet Perso -->
    <link rel="stylesheet" href="{{ asset('/css/main.css')}}" type="text/css">
    {% block stylesheets %} {% endblock %}
    <!--***** TITLE *****-->
    <title> & | {% block title %}{% endblock %} </title>
</head>

<body>

    <header>
        {% include "includes/navConnect.html.twig" %}
    </header>

    <main>
        {# Permet d'afficher les flash #}
        {% for label, messages in app.flashes %}
        <div class="container">
            <div class="{{label}} ">
                {% for message in messages %}
                <p> {{message | raw}} </p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </main>

    <footer>
        {% include "includes/footer.html.twig" %}
    </footer>

    <!--***** SCRIPT *****-->
    <!--Import JQuery
    <script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->
    <script src="{{asset('/js/jquery.js')}} "></script>
    <!--Import Materialize
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
    <script src="{{ asset('/materialize/js/materialize.js')}}"></script>
    <!--Import Perso-->
    <script src="{{ asset('/js/script.js')}}"></script>
    {% block javascripts %}{% endblock %}

</body>

</html>