{% extends 'shop/baseShop.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/shop.css')}}" type="text/css">
{% endblock %}

{% block title %} Panier {% endblock %}


{% block body %}

    <div class="row">
        <div class="row">
            <p class="comeBack right-align">
                Revenir à la boutique
                <a href="{{path('product_index')}}">
                    <i class="far fa-times-circle fa-lg"></i>
                </a>
            </p>
        </div>
       

        Panier
        {% if items | length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price * item.quantity }}</td>
                    <td>
                        <a href="{{ path('cart_remove', {'id' : item.product.id }) }} " class="btn">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"> Total : </td>
                    <td>{{total}}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        {% else %}
        <p> Votre panier est vide </p>
        {% endif %}

{% endblock %}